/* Style général pour le body, ajoutant un padding en haut et définissant les couleurs de fond et de texte */
body {
    padding-top: 56px;
    background-color: #f8f9fa;
    color: #343a40;
}

/* Style de la navbar, avec une couleur de fond foncée */
.navbar {
    background-color: #343a40;
}

/* Couleur des liens de la navbar et de la marque, forcée en blanc */
.navbar-brand, .nav-link {
    color: #ffffff !important;
}

/* Couleur des liens de la navbar et de la marque au survol, changée en jaune */
.navbar-brand:hover, .nav-link:hover {
    color: #ffc107 !important;
}

/* Transition pour les éléments de carousel, avec une animation de transformation */
.carousel-item {
    transition: transform 0.6s ease-in-out;
}

/* Agrandissement de l'élément de carousel au survol */
.carousel-item:hover {
    transform: scale(1.05);
}

/* Ombre portée pour les cartes au survol */
.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

/* Style des cartes, sans bordure et avec un fond blanc */
.card {
    border: none;
    background: #ffffff;
}

/* Style pour les boutons primaires, avec une couleur de fond foncée et sans bordure */
.btn-primary {
    background-color: #343a40;
    border: none;
}

/* Couleur de fond des boutons primaires au survol, changée en jaune */
.btn-primary:hover {
    background-color: #ffc107;
}

/* Style des icônes sociales, avec une couleur blanche et une transition de couleur */
.social-icons a {
    color: #ffffff;
    margin: 0 10px;
    transition: color 0.3s;
}

/* Couleur des icônes sociales au survol, changée en jaune */
.social-icons a:hover {
    color: #ffc107;
}

/* Classe de fond clair, forcée à une couleur de fond spécifique */
.bg-light {
    background-color: #f8f9fa !important;
}

/* Classe de fond foncé, forcée à une couleur de fond spécifique */
.bg-dark {
    background-color: #343a40 !important;
}

.card-body h3 {
    font-weight: 600;
    margin-bottom: 15px;
}

.card p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.btn-outline-primary {
    border-color: #343a40;
    color: #343a40;
}

.btn-outline-primary:hover {
    background-color: #343a40;
    color: #fff;
}

.card i {
    opacity: 0.85;
}
