/* La classe .navbar .navbar-brand-wrapper applique des styles à l'élément wrapper du logo ou du nom de la marque dans la barre de navigation */
.navbar .navbar-brand-wrapper {
  /* Ajoute une transition fluide sur la largeur et le fond lorsque ceux-ci changent */
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  
  /* Définit un fond sombre pour la zone du logo de la barre de navigation */
  background: #181824;

  /* Définit la largeur par défaut de cette zone de navigation à 258px */
  width: 258px;

  /* Hauteur de la zone de logo définie à 64px pour s'adapter à la taille du logo */
  height: 64px;
}

/* Utilisation de media queries pour changer la largeur du wrapper du logo sur des écrans de moins de 991px de largeur */
@media (max-width: 991px) {
  .navbar .navbar-brand-wrapper {
      /* Réduit la largeur de la zone de logo à 55px sur des écrans plus petits, pour gagner de l'espace */
      width: 55px;
  }
}

/* Styles pour l'élément navbar-brand à l'intérieur de navbar-brand-wrapper */
.navbar .navbar-brand-wrapper .navbar-brand {
  /* Définit la couleur du texte du logo en bleu (utilisé pour se démarquer sur fond sombre) */
  color: #27367f;

  /* Taille de la police de 1.5rem pour un logo bien visible */
  font-size: 1.5rem;

  /* Ajuste l'espacement vertical pour centrer le texte à l'intérieur de la hauteur de 64px définie plus haut */
  line-height: 48px;

  /* Évite les marges inutiles à droite */
  margin-right: 0;

  /* Espacement vertical du texte pour le centrer */
  padding: .25rem 0;

  /* S'étend sur toute la largeur du conteneur pour remplir l'espace disponible */
  width: 100%;
}

/* Styles pour les interactions utilisateur (hover, focus, active) avec l'élément navbar-brand dans navbar-brand-wrapper */
.navbar .navbar-brand-wrapper .navbar-brand:active, 
.navbar .navbar-brand-wrapper .navbar-brand:focus, 
.navbar .navbar-brand-wrapper .navbar-brand:hover {
  /* Change la couleur du texte lors de l'interaction de l'utilisateur */
  color: #1b2658;
}

/* Styles pour l'image de logo à l'intérieur de navbar-brand */
.navbar .navbar-brand-wrapper .navbar-brand img {
  /* Utilise une largeur calculée, en soustrayant 120px de la largeur totale définie */
  width: calc(258px - 120px);
  
  /* Limite la largeur de l'image au maximum de l'espace disponible pour une meilleure adaptation */
  max-width: 100%;
  
  /* Définit une hauteur fixe pour l'image à 28px */
  height: 28px;
  
  /* Centre l'image horizontalement dans le conteneur */
  margin: auto;
  
  /* Aligne verticalement l'image au centre par rapport aux autres éléments dans le même conteneur */
  vertical-align: middle;
}

/* Styles pour une version "mini" de la marque, utilisée peut-être dans des vues compactes */
.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
  /* Cache cette version mini de la marque par défaut */
  display: none;
}

/* Style pour l'image de logo dans la version mini de la marque */
.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img {
  /* Utilise une largeur calculée de 20px (70px - 50px), pour une version compacte du logo */
  width: calc(70px - 50px);
  
  /* Limite la largeur de l'image au maximum de l'espace disponible pour éviter tout débordement */
  max-width: 100%;
  
  /* Définit une hauteur fixe pour l'image de la version mini */
  height: 28px;
  
  /* Centre l'image horizontalement */
  margin: auto;
}

/* Définit la largeur globale du conteneur du logo */
.navbar .navbar-brand-wrapper {
  width: 258px;
}

/* Cache le logo principal (brand-logo) dans le conteneur */
.navbar .navbar-brand-wrapper .navbar-brand.brand-logo {
  display: none;
}

/* Affiche la version mini du logo en tant qu'élément en ligne bloqué */
.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
  /* inline-block permet à l'élément d'être en ligne avec d'autres éléments mais avec les propriétés d'un bloc */
  display: inline-block;
}

/* Style pour la barre de navigation expansée */
.navbar-collapse {
  /* Utilise flexbox pour aligner et espacer les éléments dans la barre de navigation */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  /* Ajoute un léger espacement en haut pour décaler la barre de navigation */
  margin-top: 0.5rem;
}

/* Media query pour les écrans très petits (480px et moins) */
@media (max-width: 480px) {
  /* Réduit la largeur du conteneur du logo pour économiser de l'espace sur les petits écrans */
  .navbar .navbar-brand-wrapper {
    width: 55px;
  }
  
  /* Supprime le padding en haut de la version mini du logo pour un alignement plus serré */
  .navbar .navbar-brand-wrapper .brand-logo-mini {
    padding-top: 0px;
  }
}

/* Réduit la largeur du conteneur du logo dans une interface avec barre latérale mini */
.sidebar-mini .navbar .navbar-brand-wrapper {
  width: 185px;
}

/* Media query pour les écrans larges (992px et plus) */
@media (min-width: 992px) {
  /* Dans le mode "sidebar-icon-only", ajuste la largeur du conteneur de logo */
  .sidebar-icon-only .navbar .navbar-brand-wrapper {
    width: 70px;
  }
  
  /* Cache le logo principal dans le mode "sidebar-icon-only" */
  .sidebar-icon-only .navbar .navbar-brand-wrapper .brand-logo {
    display: none;
  }
  
  /* Affiche le logo mini dans le mode "sidebar-icon-only" */
  .sidebar-icon-only .navbar .navbar-brand-wrapper .brand-logo-mini {
    display: inline-block;
  }
}

/* Ajoute un espacement en haut de la page pour éviter le chevauchement de la barre de navigation fixe */
.navbar.fixed-top + .page-body-wrapper {
  padding-top: 64px;
}

/* Styles pour une page avec une barre latérale en position absolue */
.sidebar-absolute .page-body-wrapper {
  /* Définit la position relative du conteneur principal pour gérer la barre latérale en absolu */
  position: relative;
}

/* Styles de base pour le conteneur principal de la page */
.page-body-wrapper {
  /* Utilise Flexbox pour aligner les éléments dans une disposition en ligne */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Styles pour la barre latérale principale */
.sidebar {
  /* Hauteur minimum pour occuper toute la fenêtre moins la hauteur de la barre de navigation */
  min-height: calc(100vh - 64px);
  
  /* Couleur de fond sombre */
  background: #181824;
  
  /* Police spécifique (ici "Nunito-medium") pour un style professionnel */
  font-family: "nunito-medium", sans-serif;
  
  /* Largeur de la barre latérale définie à 258px pour un espace confortable */
  width: 258px;
  
  /* Élément positionné au-dessus des autres, pour qu'il ne soit pas caché par d'autres éléments */
  z-index: 11;
  
  /* Transitions douces sur la largeur et le fond pour les effets de changement d'état */
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
}

/* Styles pour les éléments de navigation dans la barre latérale */
.sidebar .nav {
  /* Cache le débordement pour éviter que le contenu ne dépasse le conteneur */
  overflow: hidden;
  
  /* Empêche les éléments de navigation de se mettre sur plusieurs lignes */
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  
  /* Dispose les éléments de navigation verticalement (flexbox pour une compatibilité large) */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  
  /* Ajoute un espace de 60px en bas pour espacer la fin de la liste de navigation */
  margin-bottom: 60px;
}

/* Styles pour chaque élément de navigation (nav-item) dans la barre latérale */
.sidebar .nav .nav-item {
  /* Padding gauche et droit pour un alignement et espacement uniformes */
  padding: 0 2.375rem;
  
  /* Transition sur la durée et propriété du fond pour des effets de survol */
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  transition-property: background;
  -webkit-transition-property: background;
  
  /* Positionnement relatif pour permettre un positionnement des éléments enfants */
  position: relative;
}

/* Style pour chaque lien de navigation (nav-link) dans la barre latérale */
.sidebar .nav .nav-item .nav-link {
  /* Affiche les liens en flexbox pour un alignement facile du contenu */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  /* Centre verticalement le contenu du lien de navigation */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  /* Empêche le retour à la ligne du texte pour un affichage propre */
  white-space: nowrap;
  
  /* Padding vertical pour une meilleure lisibilité */
  padding: 0.625rem 0 0.625rem 0;

  /* Couleur de texte grisé pour un style discret */
  color: #8e94a9;

  /* Transition sur la couleur pour des effets de survol ou de clic */
  -webkit-transition-duration: 0.45s;
  transition-duration: 0.45s;
  transition-property: color;
  -webkit-transition-property: color;

  /* Permet de tronquer le texte avec des points de suspension si trop long */
  text-overflow: ellipsis;
}



/* Style pour la catégorie de navigation dans la barre latérale (nav-lieux) */
.sidebar .nav .nav-item.nav-lieux {
  /* Couleur du texte */
  color: #8e94a9;
  
  /* Taille de police réduite pour différencier visuellement les catégories des liens */
  font-size: 0.8125rem;
  
  /* Hauteur de ligne pour garantir une lisibilité compacte */
  line-height: 16px;
  
  /* Marges autour de la catégorie pour espacer et structurer les sections */
  margin: 25px 0px 10px 0px;
  
  /* Police en gras pour renforcer le style de la catégorie */
  font-family: "nunito-bold", sans-serif;
}

/* Style pour les liens de navigation dans la barre latérale (sauf sous-menu) lors du survol */
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-lieux):not(.nav-profile) > .nav-link {
  /* Couleur blanche pour les liens au survol */
  color: #fff;
}

/* Styles de base pour le sous-menu */
.sidebar .nav.sub-menu {
  /* Marges pour espacer le sous-menu du contenu environnant */
  margin-bottom: 20px;
  margin-top: 0;
}

/* Suppression du padding pour les éléments du sous-menu */
.sidebar .nav.sub-menu .nav-item {
  padding: 0;
}

/* Style pour les liens dans le sous-menu */
.sidebar .nav.sub-menu .nav-item .nav-link {
  /* Couleur de texte grisée */
  color: #888;

  /* Position relative pour permettre des ajustements visuels avec des pseudo-éléments */
  position: relative;

  /* Taille de police plus petite pour différencier du menu principal */
  font-size: 0.8125rem;

  /* Réduction de la hauteur de ligne pour un affichage compact */
  line-height: 1;

  /* Hauteur automatique pour gérer différents contenus */
  height: auto;

  /* Suppression de la bordure supérieure pour un style épuré */
  border-top: 0;
}

.main-panel {
  -webkit-transition: width 0.25s ease, margin 0.25s ease;
  transition: width 0.25s ease, margin 0.25s ease;
  width: calc(100% - 258px);
  min-height: calc(100vh - 64px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content-wrapper {
  background: #f0f1f6;
  padding: 2.875rem 2.875rem 0 2.875rem;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }